* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    padding: 20px 0px;

}

nav {
    display: flex;
    justify-content: start;
    width: 50%;
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    padding-left: 100;
}

nav ul li {
    flex-grow: 1;
    /* Allow each li to grow and fill the container */
    text-align: center;
    border: 1px solid white;
    margin: 0 5px;
    /* Add a little space between each box */
}

nav ul li a {
    display: block;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    /* to remove underline*/
    transition: background-color 0.3s;
    /* for smooth transition */
}

nav ul li a:hover {
    background-color: #ff004f;
    color: white;
}