* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Roboto-Thin', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

header#hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero-content h1 {
    margin-bottom: 20px;
    font-size: 6rem;
}

.hero-content p {
    font-size: 2rem;
}

.hero-content a.btn-scroll {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    /* to remove underline */
    transition: background-color 0.3s, color 0.3s;
    /* for smooth transition */
}

.hero-content a.btn-scroll:hover {
    background-color: #ff004f;
    color: #fff;
}

#content {
    padding: 50px;
    text-align: left;
    font-family: 'Semibold';
    margin-left: 100px;
}

#about-me {
    font-size: 1.5rem;
    margin-top: 300px;

}

.about-description {
    width: 70%;
    margin-top: 30px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


#contact-info {
    margin-top: 300px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.text-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1px;
    border-radius: 10px;
    margin: 1px 0;
    color: white;
    position: relative;
    z-index: 1;
    /* layer for text background */
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    padding: 20px;
}

.project-item {
    background-color: white;
    border-radius: 15px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 20px;
    color: #080808;
    z-index: 4;
    opacity: 0.95;
    margin-bottom: 30px;
}

.project-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 20px;
    font-size: large;
}

.project-media {
    width: 50%;
    text-align: center;
}

.project-media img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.project-media video {
    width: calc(100% + 50px);
}

.project-link {
    display: inline-block;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: auto;
    margin: 0 auto;
}

.project-link:hover {
    background-color: #0056b3;
}

.project-text ul {
    list-style-type: none;
    padding: 0;
}

.project-text p {
    padding-top: 10px;
    padding-bottom: 30px;
}

.project-text ul li {
    margin-bottom: 10px;
}

.project-media img,
.project-media video {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0;
    gap: 20px;
}

nav ul li {
    text-align: center;
    flex-grow: 1;
    border: 1px solid white;
    margin: 0 5px;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #ff004f;
}

.contact-methods img {
    vertical-align: middle;
    margin-right: 10px;
    width: 24px;
    height: auto;
}

.contact-methods p {
    margin: 10px 0;
}

.dropfield {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* layer to allow for clicky click */
}

.drop {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    opacity: 1;
    animation: growFade 3s linear forwards;
    z-index: 2;
    /* layer for drops behind text container */
}


@keyframes growFade {
    0% {
        transform: scale(0.1);
        opacity: 1;
    }

    50% {
        transform: scale(1.25);
        opacity: 1;
    }

    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

.large-drop {
    animation: growFadeLarge 6s linear forwards;
}

@keyframes growFadeLarge {
    0% {
        transform: scale(0.1);
        opacity: 1;
    }

    50% {
        transform: scale(2);
        opacity: 1;
    }

    100% {
        transform: scale(4);
        opacity: 0;
    }
}